
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import "~bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css";
//@import '~admin-lte/dist/css/AdminLTE.css';
//@import '~admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
//@import '~admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
