<template>
    <div class="wapper">
        <notifications group="app" />

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <strong>Type: </strong>
                    <select name="type" class="form-control" v-model="form.type">
                        <option v-for="(type,idx) in documentTypes" :value="type.key" :key="idx">{{type.value}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Trạng thái</label>
                    <div>
                        <span class="label label-default">INIT</span>
                    </div>
                </div>
            </div>
            <member-document ref="deliver" is-deliver='true' @selected-member="selectDeliver"
                             props-name="member_deliver" label="deliver"></member-document>
            <member-document v-show="form.type != 'DESTROY'" ref="receiver" @selected-member="selectReceiver"
                             props-name='member_receiver' label="receiver"></member-document>
        </div>

        <inventory-list
            ref="inventoryList"
            can-edit="true" can-delete="true"
            @inventories="updateInventories"
            @repairInventories="updateRepairInventories"
            :type="form.type"

            :inventoriesStoreRoute="inventoriesStoreRoute"
            :listType1s="listType1s"
            :listType2s="listType2s"
            :listModelDictionary="listModelDictionary"
            :listUnit="listUnit"
            :listMember="listMember"
            :listStatus="listStatus"
            :inventoryGetType2sRoute="inventoryGetType2sRoute"
        ></inventory-list>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group" >
                    <strong>Reason: </strong>
                    <!--{!! Form::textarea('reason', null, array('placeholder' => 'Name','class' => 'form-control','rows' => 3)) !!}-->
                    <textarea name="reason" placeholder="Enter Reason" class="form-control" rows="3"
                              v-validate="'required|min:20'"
                              v-model="form.reason"></textarea>
                    <span class="text-danger" v-show="errors.has('reason')">{{errors.first('reason')}}</span>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!--<div class="form-group">-->
                <strong>Attached Files:</strong>


                <!--<div id="fileBoxId" class="dropzone" >-->
                <!--<input name="file" type="file" multiple />-->
                <!--</div>-->
                <!--{!! Form::open([ 'route' => [ 'dropzone.store' ], 'files' => true, 'enctype' => 'multipart/form-data', 'class' => 'dropzone', 'id' => 'image-upload' ]) !!}-->
                <!--<form :action="filesStoreRoute" class="dropzone" id="fileDocumentUpload" enctype="multipart/form-data">-->
                    <!--<input type="hidden" name="_token" v-model="token" />-->
                    <!--<div class="fallback">-->
                        <!--<input name="file" type="file" multiple />-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--&lt;!&ndash;<h3>Upload Multiple File By Click On Box</h3>&ndash;&gt;-->
                    <!--</div>-->

                <!--</form>-->

                <vue-dropzone ref="myVueDropzone" id="dropzone"
                              :options="dropzoneOptions"
                              @vdropzone-sending="sendingEvent"
                              @vdropzone-removed-file="removeFile"
                              @vdropzone-max-files-exceeded="alertMaxFileExceeded"
                              @vdropzone-thumbnail="thumbnail"
                              @vdropzone-success="triggerFileAdded"
                ></vue-dropzone>

                <!--<span class="text-danger" v-show="errors.has(labelName)">{{errors.first(labelName)}}</span>-->

                <!--</div>-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <strong>Note: </strong>
                    <br/>
                    <!--{!! Form::textarea('note', null, array('class' => 'form-control','rows' => 3)) !!}-->
                    <textarea name="note" placeholder="Enter Note" class="form-control" rows="3" v-model="form.note"></textarea>
                </div>
            </div>

        </div>

        <div class="row" v-if="form.type=='OUT'">
            <div class="col-xs-12 col-sm-12 col-md-6 mt-1">
                <div class="form-group">
                    <label>Thời gian dự kiến trả lại/ Return Date: </label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" name="return_date" id="return_date"
                               class="form-control datepicker pull-right" placeholder="Enter return date"
                               :value="form.return_date" @click="updateMaxDate"
                               v-validate="'required'"
                        />

                    </div>
                    <span class="text-danger" v-show="errors.has('return_date')">{{errors.first('return_date')}}</span>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                <div class="form-group">
                    <button class="btn btn-info" type="button" @click="fixDay(0)"><i class="glyphicon glyphicon-time"></i> Today</button>
                    <button class="btn btn-primary" type="button" @click="fixDay(-1)"><i class='glyphicon glyphicon-hourglass'></i> MAX DAY</button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <strong>Người duyệt: </strong>
                    <br/>
                    <input type="text" name="approved_by" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <!--<button type="button" class="btn btn-primary js-submit-create-document" @click="submit" :disabled="isLoading">-->

                    <!--<SyncLoader :loading="isLoading" :size="Number(5)" margin="2px"></SyncLoader>-->
                    <!--Submit-->
                <!--</button>-->
                <VueLoadingButton aria-label='Send message' :loading="isLoading"
                                  :styled="Boolean(true)" class="btn btn-primary"
                                  @click.native="submit"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import { SyncLoader } from '@saeris/vue-spinners'
    import VueLoadingButton from 'vue-loading-button'


    // import 'vue2-dropzone/dist/vue2Dropzone.min.css'


    export default {
        name: "DocumentCreateNew",
        props: ['documentTypes','maxDate','filesStoreRoute','inventoriesStoreRoute'
            ,'listType1s','listType2s','listModelDictionary','listUnit','listMember',
            'listStatus','inventoryGetType2sRoute'
        ],
        components: {
            vueDropzone: vue2Dropzone,
            SyncLoader,
            VueLoadingButton
        },
        data() {
            return {
                form: {
                    // return_date: moment().format('YYYY-MM-DD'),
                    return_date: this.maxDate,
                    inventories: [],
                    deliver: {},
                    receiver: {},
                    type: 'IN',
                    status: 'INIT',
                    reason: '',
                    attachedFiles: [],
                    note: '',
                    dataRepairInventories: [],
                },
                token: csrfToken,
                dropzoneOptions: {
                    url: this.filesStoreRoute,
                    // thumbnailWidth: 150,
                    maxFilesize: 5,
                    maxFiles: 5,
                    // headers: { "_token": csrfToken },
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Drop files here to upload"
                },
                filesManager: [],
                isLoading: false,
                allerros: [],

            }
        },
        methods: {
            initData(){

            },
            fixDay(i) {
              if (i==-1) {
                  this.form.return_date = this.maxDate;
              } else {
                  this.form.return_date = moment().format('YYYY-MM-DD');
              }
              $("#return_date").datepicker("setDate", this.form.returnDate);

            },
            selectDeliver(e) {
                this.form.deliver = e;
                if (this.form.type != 'DESTROY') {
                    if (this.form.receiver != null && this.form.receiver.id != null) {
                        if (this.form.deliver.id == this.form.receiver.id) {
                            // notify trung + goi ham reset deliver
                            this.form.deliver = {};
                            this.notifyWhenDeliverEqReceiver();
                        }
                    }
                }
            },
            selectReceiver(e) {
                this.form.receiver = e;
                if (this.form.type != 'DESTROY') {
                    if (this.form.deliver != null && this.form.deliver.id != null) {
                        if (this.form.deliver.id == this.form.receiver.id) {
                            // notify trung + goi ham reset deliver
                            this.form.receiver = {};
                            this.notifyWhenDeliverEqReceiver(false);
                        }
                    }
                }
            },
            notifyWhenDeliverEqReceiver(isDeliver = true){
                this.$notify({
                    type: 'error',
                    text: 'Deliver is same Receiver. Please re-select '+(isDeliver ? 'Deliver' :'Receiver')+'!',
                    title: 'Notification message',
                    group: 'app',
                    duration: 5000,
                })
                if (isDeliver) {
                    this.$refs.deliver.resetMember();
                } else {
                    this.$refs.receiver.resetMember()
                }
            },
            updateMaxDate(e){
                this.form.return_date = e.target.value;
            },
            sendingEvent (file, xhr, formData) {
                formData.append('_token', csrfToken);
            },
            triggerFileAdded(file, resp) {
                console.log('file added');
                this.filesManager.push({
                    name: file.name,
                    remoteName: resp.success,
                    id: resp.id,
                })
            },
            removeFile(file, error, xhr) {
                console.log('remove file')
                let remoteName = '';
                let index = -1;
                // find remoteName and index
                for( let i = 0; i < this.filesManager.length; i++ ){
                    if ( this.filesManager[i].name === file.name) {
                        remoteName = this.filesManager[i].remoteName;
                        index = i;
                        break;
                    }
                }
                // delete on server
                if (index != -1) {
                    let url = '/files/dropzone-delete/'+remoteName;
                    console.log(url);
                    axios.delete(url)
                        .then( response => {
                            console.log(response.data.success);
                            // remote deleted element
                            this.filesManager.splice(index, 1);
                        })
                        .catch( error => {
                            console.log(error);
                        })
                }

            },
            alertMaxFileExceeded(file) {
                this.$notify({
                    type: 'error',
                    text: 'Exceed maximum attached file (5 files)!',
                    title: 'Notification message',
                    group: 'app'
                })
                console.log(file);
            },
            thumbnail(file, dataUrl) {
                console.log('thumb')
                console.log(file);
            },
            updateInventories(ints){
              this.form.inventories = ints;
            },
            updateRepairInventories(ints){
                this.form.dataRepairInventories = ints;
            },
            submit() {
                this.$validator.validateAll().then((result) => {
                    this.$refs.deliver.triggerValidate();
                    if (this.form.type != 'DESTROY') this.$refs.receiver.triggerValidate();
                    this.$refs.inventoryList.triggerValidate();
                    if (result) {
                        this.isLoading = true;
                        this.form.attachedFiles = this.filesManager;
                        axios.post('/documents', this.form)
                            .then( response => {
                                console.log(response);
                                this.isLoading = false;
                                this.$notify({
                                    text: 'Document create successfully',
                                    title: 'Notification message',
                                    group: 'app'
                                })
                                window.location.href = '/documents'
                            })
                            .catch(error => {
                                console.log(error);
                                // console.log(error.response.data);
                                this.isLoading = false;
                                // this.$set('errors', error.response.data);
                                this.allerrors = error.response.data;
                                this.$notify({
                                    type: 'error',
                                    // text: this.allerrors.message + this.allerrors.errors[0],
                                    text: this.allerrors.message + (this.allerrors.errors[0] || ''),
                                    title: 'Notification message',
                                    group: 'app'
                                })
                                console.log('error');

                            });

                        return;
                    }

                    this.$notify({
                        type: 'error',
                        text: 'Please correct all error field!',
                        title: 'Notification message',
                        group: 'app'
                    })
                    // alert('Correct them errors!');
                });


            },

        },
        mounted() {
           this.initData();
        }
    }
</script>

<style scoped>
    @import '~vue2-dropzone/dist/vue2Dropzone.min.css';
</style>
