<template>
    <div class="wapper">
        <notifications group="app" />


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <strong>Current Attached Files:</strong>
                <div v-if="files.length > 0">
                    <div v-for="(file,idx) in files" :key="idx">
                        <div>{{idx + 1}} - {{file.file_name}}</div>
                        <img :src="file.public_path"/>
                    </div>
                </div>
                <div v-else>
                    N/A
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!--<div class="form-group">-->
                <strong>Update Attached Files:</strong>

                <vue-dropzone ref="myVueDropzone" id="dropzone"
                              :options="dropzoneOptions"
                              @vdropzone-sending="sendingEvent"
                              @vdropzone-removed-file="removeFile"
                              @vdropzone-max-files-exceeded="alertMaxFileExceeded"
                              @vdropzone-thumbnail="thumbnail"
                              @vdropzone-success="triggerFileAdded"
                ></vue-dropzone>

            </div>

        </div>


        <div class="row mt-5">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <!--<button type="button" class="btn btn-primary js-submit-create-document" @click="submit" :disabled="isLoading">-->

                <!--<SyncLoader :loading="isLoading" :size="Number(5)" margin="2px"></SyncLoader>-->
                <!--Submit-->
                <!--</button>-->
                <VueLoadingButton aria-label='Send message' :loading="isLoading"
                                  :styled="Boolean(true)" class="btn btn-primary"
                                  @click.native="submit"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import { SyncLoader } from '@saeris/vue-spinners'
    import VueLoadingButton from 'vue-loading-button'


    // import 'vue2-dropzone/dist/vue2Dropzone.min.css'


    export default {
        name: "DocumentUpdateFiles",
        props: ['document','filesStoreRoute','documentsUpdateFilesRoute','files'
                ],
        components: {
            vueDropzone: vue2Dropzone,
            SyncLoader,
            VueLoadingButton
        },
        data() {
            return {
                form: {
                    attachedFiles:[]
                },
                token: csrfToken,
                dropzoneOptions: {
                    url: this.filesStoreRoute,
                    // thumbnailWidth: 150,
                    maxFilesize: 8,
                    maxFiles: 5 - this.files.length,
                    // headers: { "_token": csrfToken },
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Drop files here to upload"
                },
                filesManager: [],
                isLoading: false,
                allerros: [],

            }
        },
        methods: {
            initData(){

            },

            sendingEvent (file, xhr, formData) {
                formData.append('_token', csrfToken);
            },
            triggerFileAdded(file, resp) {
                console.log('file added');
                this.filesManager.push({
                    name: file.name,
                    remoteName: resp.success,
                    id: resp.id,
                })
            },
            removeFile(file, error, xhr) {
                console.log('remove file')
                let remoteName = '';
                let index = -1;
                // find remoteName and index
                for( let i = 0; i < this.filesManager.length; i++ ){
                    if ( this.filesManager[i].name === file.name) {
                        remoteName = this.filesManager[i].remoteName;
                        index = i;
                        break;
                    }
                }
                // delete on server
                if (index != -1) {
                    let url = '/files/dropzone-delete/'+remoteName;
                    console.log(url);
                    axios.delete(url)
                        .then( response => {
                            console.log(response.data.success);
                            // remote deleted element
                            this.filesManager.splice(index, 1);
                        })
                        .catch( error => {
                            console.log(error);
                        })
                }

            },
            alertMaxFileExceeded(file) {
                this.$notify({
                    type: 'error',
                    text: 'Exceed maximum attached file (5 files)!',
                    title: 'Notification message',
                    group: 'app'
                })
                console.log(file);
            },
            thumbnail(file, dataUrl) {
                console.log('thumb')
                console.log(file);
            },
            submit() {
                this.isLoading = true;
                this.form.attachedFiles = this.filesManager;
                axios.post(this.documentsUpdateFilesRoute, this.form)
                    .then( (response) => {
                        console.log(response);
                        this.isLoading = false;
                        this.$notify({
                            text: 'Update files successfully',
                            title: 'Notification message',
                            group: 'app'
                        })
                        window.location.href = '/documents'
                    })
                    .catch((error) => {
                        console.log(error);
                        console.log(error.response.data);
                        this.isLoading = false;
                        // this.$set('errors', error.response.data);
                        this.allerrors = error.response.data;
                        this.$notify({
                            type: 'error',
                            // text: this.allerrors.message + this.allerrors.errors[0],
                            text: this.allerrors.message + (this.allerrors.errors[0] || ''),
                            title: 'Notification message',
                            group: 'app'
                        })
                        console.log('error');

                    });


            },

        },
        mounted() {
            this.initData();
        }
    }
</script>

<style scoped>
    @import '~vue2-dropzone/dist/vue2Dropzone.min.css';
</style>
