<template>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- add button-->
                <div class="col-6 mt-1">
                    <label v-if="!readonly">Chọn tên thiết bị </label>
                    <select v-if="!readonly" class="form-control js-select2-inventory" :name="labelName" id="inventory-search-input"
                    v-validate="'required'"></select>
                </div>
                <div class="col-6 pt-5">
                    <!--<div class="btn-group">-->
                        <button v-if="!readonly" class="btn btn-primary mr-5" @click="addInventoryGeneric">Add Inventory</button>
                        <button v-if="!readonly && dataType=='IN'" class="btn btn-info" @click="newInventory" data-toggle="modal" data-target=".bd-example-modal-lg">Create New Inventory</button>
                    <!--</div>-->
                </div>
            </div>
            <inventory-create-new
                    v-if="!readonly"
                    ref="newInventory"
                    :inventoriesStoreRoute="inventoriesStoreRoute"
                    :listType1s="listType1s"
                    :listType2s="listType2s"
                    :listModelDictionary="listModelDictionary"
                    :listUnit="listUnit"
                    :listMember="listMember"
                    :listStatus="listStatus"
                    :inventoryGetType2sRoute="inventoryGetType2sRoute"
                    @add-new-inventory="addNewInventory"
            ></inventory-create-new>
            <div class="row">
                <!-- Modal -->
                <div class="modal fade" id="model_add_quantity_id" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Add Quantity Dialog</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action=""
                                      @submit.prevent="addInventoryMaterial"
                                      method="POST"
                                      id="form_add_quantity_id">
                                    <div class="form-group">
                                        <strong>Quantity: </strong>
                                        <input type="number" v-model="selectedQuantity"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" form="form_add_quantity_id">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <label class="text-bold">List of asset/ Xác nhận việc giao tài sản như sau: </label>
                </div>
            </div>
            <div class="row">
                <!-- list inventory-->
                <div class="col-12">
                    <table class="table table-bordered mt-3 table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="5%;">No/ STT</th>
                                <th width="8%;">Type1</th>
                                <th width="10%;">Mã tài sản/ FA No</th>
                                <th width="10%;">IT Tag</th>
                                <th width="8%;">Type2</th>
                                <th width="13%;">Model/ Tên Item</th>
                                <th width="10%;">Serial Number</th>
                                <th width="5%;">Q.ty/ SL</th>
                                <th width="5%;">Unit/ Đơn vị tính</th>
                                <th width="10%;">Trạng thái/ Status</th>
                                <th v-if="!readonly" width="15%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(inventory,index) in dataInventories" :key="inventory.id">
                            <td>{{ ++index }}</td>
                            <td>{{ inventory.type1_name }}</td>
                            <td>{{ inventory.fa_no }}</td>
                            <td>{{ inventory.it_tag }}</td>
                            <td>{{ inventory.type2_name }}</td>
                            <td>{{ inventory.model_name}}</td>
                            <td>{{ inventory.serial_number}}</td>
                            <td>{{ inventory.quantity}}</td>
                            <td>{{ inventory.unit_name}}</td>
                            <td>{{ inventory.status}}</td>
                            <td v-if="!readonly">
                                <!--<button v-if="canEdit" class="btn btn-info" type="button">Up</button>-->
                                <!--<button v-if="canEdit" class="btn btn-primary" type="button">Down</button>-->
                                <button v-if="!readonly && canDelete" type="button" class="btn btn-danger" @click="removeRow(inventory,index-1)">Remove</button>
                                <button v-if="!readonly && dataType == 'REPAIR'" type="button" class="btn btn-flickr" @click="repairsModal(inventory)">Add Equipment</button>
                            </td>
                        </tr>
                        </tbody>




                    </table>
                    <div v-if="dataType=='REPAIR'" v-for="(repairs,index) in dataRepairInventories" >
                        <p v-if="repairs.data.length > 0" class="font-weight-bold">Danh sách Parts cho Device No. : {{index +1 }} - Internal ID: {{repairs.id}} - S/N: {{ repairs.obj.serial_number}}</p>
                        <table v-if="repairs.data.length > 0" class="table table-bordered mt-3 table-responsive table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="5%;">No/ STT</th>
                                <th width="8%;">Type1</th>
                                <th width="10%;">Mã tài sản/ FA No</th>
                                <th width="10%;">IT Tag</th>
                                <th width="8%;">Type2</th>
                                <th width="13%;">Model/ Tên Item</th>
                                <th width="10%;">Serial Number</th>
                                <th width="5%;">Q.ty/ SL</th>
                                <th width="5%;">Unit/ Đơn vị tính</th>
                                <th width="10%;">Trạng thái/ Status</th>
                                <th v-if="!readonly" width="15%;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(repair,idx) in repairs.data" :key="'r_'+repair.id">
                                <td>{{ (index+1) +'.'+ (++idx) }}</td>
                                <td>{{ repair.type1_name }}</td>
                                <td>{{ repair.fa_no }}</td>
                                <td>{{ repair.it_tag }}</td>
                                <td>{{ repair.type2_name }}</td>
                                <td>{{ repair.model_name}}</td>
                                <td>{{ repair.serial_number}}</td>
                                <td>{{ repair.quantity}}</td>
                                <td>{{ repair.unit_name}}</td>
                                <td>{{ repair.status}}</td>
                                <button v-if="!readonly" type="button" class="btn btn-danger" @click="removeRepairRow(repair,idx-1)">Remove</button>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <span class="text-danger" v-show="errors.has(labelName)">{{errors.first(labelName)}}</span>
                </div>
            </div>
            <div class="row">
                <div class="modal fade" id="model_add_repair_item" tabindex="-1" role="dialog" aria-labelledby="repairTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="repairTitle">Find Item Dialog</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <select class="form-control js-select2-inventory"
                                        name="find-repair-item" id="repair-inventory-input"
                                        style="width: 400px;"
                                        ></select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="addEquipment">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InventoryCreateNew from "./InventoryCreateNew";
    export default {
        name: "InventoryList",
        components: {InventoryCreateNew},
        props: [
            'inventories',
            'can-delete','can-edit','can-create',
            'type','readonly','repair-inventories',
            'inventoriesStoreRoute',
            'listType1s','listType2s','listModelDictionary',
            'listUnit','listMember','listStatus','inventoryGetType2sRoute'
        ],
        $_veeValidate: {
            name () {
                return this.labelName;
            },
            value () {
                return this.dataInventories;
            }
        },
        data() {
            return {
                dataInventories: this.inventories || [],
                selectedInventory: null,
                labelName: "inventories",
                dataType: this.type,
                selectedQuantity: 1,
                dataRepairInventories: this.repairInventories || [],
                selectedRepairInventory: null,
                searchInventories: null,
                searchRepairInventories: null,
                isSupportedAutoAdd: true,
            }
        },
        watch: {
            type: function(newVal, oldVal) { // watch it
                this.dataType = newVal;
                this.dataInventories = [];
                this.fetchData();
            },
            dataInventories: function (newVal, oldVal) {
                this.buildRepairList();
                this.fetchDataRepair();
            }
        },
        methods: {
            fetchData() {
                let self = this;
                $(document).ready(function() {
                    $('#inventory-search-input').select2({
                        placeholder: 'Select an Inventory',
                        ajax: {
                            url: '/ajax-inventory?type='+self.dataType,
                            dataType: 'json',
                            delay: 250,
                            processResults: (data) => {
                                // console.log(data);
                                // return {
                                //     results: data.items
                                // };
                                self.searchInventories = data;
                                return {
                                    results:  $.map(data, (item) => {
                                        console.log(item);
                                        // self.selectedInventory = item;
                                        return {
                                            text: self.showValSelectedInventory(item)
                                            ,
                                            id: item.id
                                        }
                                    })
                                };
                            },
                            cache: false
                        }
                    });
                    $('#inventory-search-input').on("select2:select", function (e) {
                        console.log('search');
                        console.log(e);
                        console.log(e.target.value);
                        let id = e.target.value;
                        self.searchInventories.forEach(val => {
                            if (id == val.id) {
                                self.selectedInventory = val;
                            }
                        })
                        console.log('selected inventery');
                        console.log(self.selectedInventory);
                        if (self.isSupportedAutoAdd) self.addInventoryGeneric();
                    });




                });
            },
            showQuantityModal(){
                $('#model_add_quantity_id').modal("show")
            },
            hideQuantityModal(){
                $('#model_add_quantity_id').modal("hide")
            },
            addInventoryGeneric(){
                if (this.selectedInventory == null) {
                    // alert('Chưa chọn thiết bị')
                    this.$notify({
                        type: 'error',
                        text: 'Chưa chọn thiết bị',
                        title: 'Notification message',
                        group: 'app'
                    })
                    return;
                }
                let isExist = false;
                this.dataInventories.forEach(val => {
                    if (val.id == this.selectedInventory.id) {
                        isExist = true;
                    }
                })
                if (isExist) {
                    // alert('Thiết bị đã tồn tại')
                    this.$notify({
                        type: 'error',
                        text: 'Thiết bị đã tồn tại',
                        title: 'Notification message',
                        group: 'app'
                    })
                    // this.selectedInventory = null;
                    return;
                }
                if ((this.selectedInventory.type1_id == 3 && this.dataType == 'OUT')
                    || (this.selectedInventory.type1_id == 3 && this.dataType == 'IN' && this.selectedInventory.internal_status=='IN')) {
                    this.showQuantityModal();
                } else {
                    this.addInventory();
                }
            },
            addInventoryMaterial(){
                if (this.dataType == 'OUT' && this.selectedQuantity > this.selectedInventory.quantity) {
                    this.$notify({
                        type: 'error',
                        text: 'Số lượng nhập vượt quá số lượng trong kho! Tối đa: '+this.selectedInventory.quantity,
                        title: 'Notification message',
                        group: 'app'
                    })
                    return
                }
                this.selectedInventory.quantity = this.selectedQuantity;

                this.addInventory(true);
                this.hideQuantityModal();
            },
            addInventory(validate = false){
                if (validate) {
                    let isExist = false;
                    this.dataInventories.forEach(val => {
                        if (val.id == this.selectedInventory.id) {
                            isExist = true;
                        }
                    })
                    if (isExist) {
                        // alert('Thiết bị đã tồn tại')
                        this.$notify({
                            type: 'error',
                            text: 'Thiết bị đã tồn tại',
                            title: 'Notification message',
                            group: 'app'
                        })
                        // this.selectedInventory = null;
                        return;
                    }
                }
                this.dataInventories.push(this.selectedInventory);
                // this.selectedInventory = null;
                this.emitInventories();
            },
            // not used, using data props
            newInventory() {
                console.log('new invent')
                let isModal = true;
                if (isModal) {
                    this.$refs.newInventory.modal(true);
                } else {
                    // redirect to create inventory
                    window.location.href = '/inventory/create';
                }

            },
            removeRow(inventory, index) {
                this.dataInventories.splice(index,1);
                this.emitInventories();
            },
            removeRepairRow(repair, index){
                this.dataRepairInventories.forEach(value => {
                    if (this.selectedInventory.id == value.id) {
                        value.data.splice(index,1);
                    }
                })
                this.emitRepairInventories();
            },
            emitInventories(){
                this.$emit('inventories',this.dataInventories);
            },
            emitRepairInventories(){
                this.$emit('repairInventories',this.dataRepairInventories);
            },
            triggerValidate(){
                this.$validator.validateAll().then((result) => {
                    if (this.dataInventories.length == 0 ) {
                        this.$notify({
                            type: 'error',
                            text: 'The inventories has a minimum of 1 inventory',
                            title: 'Notification message',
                            group: 'app'
                        })
                    }
                    if (result) {
                        console.log('inventories has data');
                        return;
                    }
                    console.log('err');

                })
            },
            addEquipment(){
                // this.repairsModal();
                // validate
                for (let val of this.dataRepairInventories) {
                   if (val.id == this.selectedRepairInventory.id) {
                       this.$notify({
                           type: 'error',
                           text: 'Trùng thiết bị với danh sách thiết bị cần sửa',
                           title: 'Notification message',
                           group: 'app'
                       })
                       return;
                   }
                   if (val.id == this.selectedInventory.id) {
                       if (val.data.length > 0) {
                           for(let e of val.data) {
                               if (e.id == this.selectedRepairInventory.id) {
                                   this.$notify({
                                       type: 'error',
                                       text: 'Thiết bị dùng để sửa đã tồn tại',
                                       title: 'Notification message',
                                       group: 'app'
                                   })
                                   return;
                               }
                           }
                       }
                   }
                }

                // process add
                this.dataRepairInventories.forEach(value => {
                    if (value.id == this.selectedInventory.id) {
                        value.data.push(this.selectedRepairInventory);
                    }
                })
                this.emitRepairInventories();
            },
            buildRepairList(){
                if (this.dataInventories) {
                    this.dataInventories.forEach((value,index) => {
                        if (this.dataRepairInventories.length > 0)
                            this.dataRepairInventories.forEach(val2 => {
                                if (val2.id != value.id) {
                                    this.dataRepairInventories.push({id: value.id,data: [],obj: value})
                                }
                            })
                        else
                            this.dataRepairInventories.push({id: value.id,data: [],obj: value});
                    })
                }
            },
            repairsModal(selectedInventory, isShow = true){
                if (isShow) {
                    this.selectedInventory = selectedInventory;
                    $('#model_add_repair_item').modal("show")

                }
                else
                    $('#model_add_repair_item').modal("hide")
                this.fetchDataRepair();
            },
            fetchDataRepair(){
                //repair-inventory-input
                let invtParams = '';
                this.dataInventories.forEach(value => {
                    invtParams += '&inventories[]='+value.id
                })
                let self = this;
                $(document).ready(function() {
                    $('#repair-inventory-input').select2({
                        placeholder: 'Select Repaired Inventory',
                        dropdownParent: $('#model_add_repair_item'),
                        ajax: {
                            url: '/ajax-inventory?type=' + self.dataType +'&is_equipment=1'+ invtParams,
                            dataType: 'json',
                            delay: 250,
                            processResults: (data) => {
                                self.searchRepairInventories = data;
                                return {
                                    results:  $.map(data, (item) => {
                                        console.log(item);
                                        // self.selectedRepairInventory = item;
                                        return {
                                            text: self.showValSelectedInventory(item)
                                            ,
                                            id: item.id
                                        }
                                    })
                                };
                            },
                            cache: false
                        }
                    });


                    $('#repair-inventory-input').on("select2:select", function (e) {
                        console.log('search');
                        console.log(e.target.value);
                        let id = e.target.value;
                        self.searchRepairInventories.forEach(val => {
                            if (id == val.id) {
                                self.selectedRepairInventory = val;
                            }
                        })
                        console.log('selected invnet');
                        console.log(self.selectedRepairInventory);
                    });
                });
            },
            addNewInventory(inventory){
                this.selectedInventory = inventory;
                this.addInventory();
                this.$refs.newInventory.modal(false);
                let showVal = this.showValSelectedInventory(this.selectedInventory);
                $('#inventory-search-input').val(showVal).trigger("change")
            },
            showValSelectedInventory(inventory){
                return inventory.serial_number
                    + ' - ' + inventory.it_tag
                    + ' - ' + inventory.fa_no
                    + ' - ' + inventory.model_name
                    + ' - ' + inventory.type1_name
                    + ' - ' + inventory.type2_name
                    + ' ( ' + inventory.internal_status +')';
            }

        },
        mounted() {
            this.fetchData();
            this.buildRepairList();
            // console.log(this.dataRepairInventories);
        },
    }
</script>

<style scoped>

</style>
