<template>
   <div class="row">
       <!-- Large modal -->
       <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Test Add Modal New Inventory</button>-->

       <!--start Modal -->
       <div class="modal fade bd-example-modal-lg" id="create_inventory_modal_id" tabindex="-1" role="dialog" aria-labelledby="inventoryModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
               <div class="modal-content">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h4 class="modal-title text-bold" id="inventoryModalLabel">Create New Inventory</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                           <form action="" method="POST">
                               <div class="row">
                                   <div class=" col-md-6">

                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Serial Number</strong>
                                               <input type="text" name="serial_number" v-model="form.serial_number" data-vv-as="Serial Number"
                                                      class="form-control" placeholder="Serial Number" v-validate="'required'">
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('serial_number')"> * {{errors.first('serial_number')}}</span>
                                           </div>

                                       </div>

                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>IT Tag</strong>
                                               <input type="text" name="it_tag"  v-model="form.it_tag" class="form-control"
                                                      placeholder="IT Tag" v-validate="'required'" data-vv-as="IT Tag">
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('it_tag')"> * {{errors.first('it_tag')}}</span>
                                           </div>
                                       </div>

                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>FA Number</strong>
                                               <input type="text" name="fa_no"  v-model="form.fa_no" class="form-control"
                                                      placeholder="FA Number" v-validate="'required'" data-vv-as="FA Number">
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('fa_no')"> * {{errors.first('fa_no')}}</span>
                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Type1 Name</strong>
                                               <select name="type1_id" id="type1_id" class="type1_id form-control" v-model="form.type1_id" v-validate="'required'" data-vv-as="Type1" @change="updateListType2">
                                                   <option v-for="(listType1,idx) in listType1s" :value="idx" :key="idx">{{ listType1 }}</option>
                                               </select>
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('type1_id')"> * {{errors.first('type1_id')}}</span>
                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Type2 Name</strong>
                                               <select class="type2_id form-control" id="type2_id"  name="type2_id" v-model="form.type2_id" data-vv-as="Type2" >
                                                   <option v-for="(listType2,idx) in dataListType2s" :value="listType2.id" :key="idx">{{ listType2.name }}</option>
                                               </select>
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('type2_id')"> * {{errors.first('type2_id')}}</span>
                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Model Name</strong>

                                               <select class="model_id form-control" id="model_id" name="model_id" v-model="form.model_id" data-vv-as="Model">
                                                   <option v-for="(model,idx) in listModelDictionary" :value="idx" :key="idx">{{model}}</option>
                                               </select>
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('model_id')"> * {{errors.first('model_id')}}</span>
                                           </div>
                                       </div>

                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Unit</strong>
                                               <select name="unit" class="form-control" v-model="form.unit" data-vv-as="Unit">
                                                   <option v-for="(unit,idx) in listUnit" :value="idx" :key="idx">{{ unit }}</option>
                                               </select>
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('unit')"> * {{errors.first('unit')}}</span>
                                           </div>
                                       </div>
                                   </div>


                                   <div class=" col-md-6">
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Status</strong>

                                               <select name="status" class="form-control" id="status" v-model="form.status">
                                                   <option v-for="(status,idx) in listStatus" :value="idx">{{ status }}</option>
                                               </select>
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('status')"> * {{errors.first('status')}}</span>
                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div v-show="false" class="form-group">
                                               <strong>Plan for Return Date</strong>
                                               <input type="text" name="return_date" id="return_date"  v-model="form.return_date" class="form-control" placeholder="Return date">

                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Current Member</strong>

                                               <select name="current_user_id" class="form-control" id="current_user_id" v-model="form.current_user_id" v-validate="'required'" data-vv-as="Current Member">
                                                   <option v-for="(member,idx) in listMember" :value="idx">{{ member }}</option>
                                               </select>
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('current_user_id')"> * {{errors.first('current_user_id')}}</span>
                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Quantity</strong>
                                               <input v-model="form.quantity" type="number" name="quantity"
                                                      id="quantity" class="form-control" placeholder="Quantity"
                                                      :readonly="form.type1_id != 3" v-validate="'required|min:1'" >
                                               <span class="help-block" style="color:red;font-weight:bold" v-show="errors.has('quantity')"> * {{errors.first('quantity')}}</span>
                                           </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Note for NG</strong>
                                               <textarea class="form-control" id="note" style="height:65px" name="note" value =""
                                                         placeholder="Note for NG" v-model="form.note" :disabled="form.status != 'NG'"></textarea>
                                           </div>
                                       </div>

                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Specs</strong>
                                               <textarea class="form-control" style="height:65px" name="specs" value =""
                                                         placeholder="Specs" v-model="form.specs"></textarea>
                                           </div>
                                       </div>

                                       <div class="col-xs-12 col-sm-12 col-md-12">
                                           <div class="form-group">
                                               <strong>Domain Account</strong>
                                               <input type="text" class="form-control" name="domain_account"
                                                         placeholder="Domain Account" v-model="form.domain_account"/>
                                           </div>
                                       </div>

                                   </div>

                               </div>

                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-dark" @click="resetForm">Reset Form</button>
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-primary" @click="submit" :disabled="isLoading">Save</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        <!--End Modal -->

   </div>
</template>

<script>

    export default {
        name: "InventoryCreateNew",
        data(){
            return {
                form: {
                    serial_number: '',
                    it_tag: '',
                    fa_no: '',
                    type1_id: 1,
                    type2_id: null,
                    model_id: 1,
                    unit: 1,
                    status: 'OK',
                    return_date: moment().format('YYYY-MM-DD'),
                    current_user_id: '',
                    quantity: 1,
                    note: '',
                    specs: '',
                    domain_account: ''
                },
                isLoading: false,
                dataListType2s: this.listType2s || [],
            }
        },
        props: [
            'inventoriesStoreRoute',
            'listType1s','listType2s','listModelDictionary','listUnit','listMember','listStatus',
            'inventoryGetType2sRoute'
        ],
        methods:{
            init(){
                let self = this;
                $(document).ready((e) => {
                    $("#return_date").datepicker({
                        format:'yyyy-mm-dd',
                        icons: {
                            time: "fa fa-clock-o",
                            date: "fa fa-calendar",
                            up: "fa fa-arrow-up",
                            down: "fa fa-arrow-down"
                        }
                    });
                    $('#create_inventory_modal_id').on('hidden.bs.modal', function (e) {
                        self.resetForm();
                    })
                })
            },
            submit(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.isLoading = true;
                        console.log('on submit');
                        axios.post(this.inventoriesStoreRoute, this.form)
                            .then( (response) => {
                                console.log('done');
                                console.log(response);

                                this.isLoading = false;
                                this.$notify({
                                    text: 'Inventory create successfully',
                                    title: 'Notification message',
                                    group: 'app',
                                    duration: 5000,
                                })

                                this.$emit('add-new-inventory',response.data.inventory);
                                this.modal(false);
                                $('#create_inventory_modal_id').modal('dispose')
                            })
                            .catch((error) => {
                                console.log(error);
                                console.log(error.response.data);
                                this.isLoading = false;
                                let msg = '';
                                if (error.response.data && error.response.data.errors ){
                                    msg = Object.values(error.response.data.errors).flat();
                                }
                                this.$notify({
                                    type: 'error',
                                    text: 'Inventory create failed! '+msg,
                                    title: 'Notification message',
                                    group: 'app',
                                    duration: 5000,
                                })
                                console.log('error');

                            });
                        return;
                    }
                    this.$notify({
                        type: 'error',
                        text: 'Please correct all error fields!',
                        title: 'Notification message',
                        group: 'app',
                        duration: 5000,
                    })
                })

            },
            modal(isShow = true){
                console.log('model show '+isShow)
                if (isShow) {
                    $('#create_inventory_modal_id').modal('show')
                    console.log('show');
                }
                else {
                    $('#create_inventory_modal_id').modal('hide')
                    console.log('hide');
                }

            },
            resetForm(){
                this.form = {
                    serial_number: '',
                    it_tag: '',
                    fa_no: '',
                    type1_id: 1,
                    type2_id: null,
                    model_id: 1,
                    unit: 1,
                    status: 'OK',
                    return_date: moment().format('YYYY-MM-DD'),
                    current_user_id: '',
                    quantity: 1,
                    note: '',
                    specs: '',
                }
            },
            updateListType2(){
                if (this.form.type1_id) {
                    axios.get(this.inventoryGetType2sRoute+'?type1_id='+this.form.type1_id)
                        .then( (response) => {
                            console.log('done');
                            console.log(response);
                            this.dataListType2s = response.data;

                        })
                        .catch((error) => {
                            console.log('error');
                            console.log(error);
                            console.log(error.response.data);

                        });
                }
            }

        },
        mounted(){
            this.init();
            this.updateListType2();
        }


    }
</script>

<style scoped>

</style>