<template>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
            <div class="row mb-3">
                <div class="col-12">
                    <label>{{isDeliver ? 'Deliver (Đại diện bên giao)' : 'Receiver (Đại diện nhận tài sản)'}} :</label>
                    <select v-if="!dataIsReadonly" class="form-control js-select2-member"
                            :name="labelName" :id="selectId" :data-vv-as="labelName"
                            v-validate="'required'" ></select>
                    <!--v-model="selectedData"-->
                    <span class="text-danger" v-show="errors.has(labelName)">{{errors.first(labelName)}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Name/Tên: </label>
                    <span>{{ member.name || 'N/A'}}</span>
                </div>
                <div class="col-6">
                    <label>ID/Email: </label>
                    <span>{{ member.email || 'N/A'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Dept/Phòng: </label>
                    <span>{{ member.department || 'N/A'}}</span>
                </div>
                <div class="col-6">
                    <label>Company/(if not LGEVH): </label>
                    <span>{{ member.company || 'N/A'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Phone/ Điện thoại: </label>
                    <span>{{ member.phone_no || 'N/A'}}</span>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "MemberDocument",
        $_veeValidate: {
            name () {
                return this.labelName;
            },
            value () {
                // avoid the flatpickr instance if not initialized (prevent SSR crashes)
                // return this.member.name;
                return this.selectedData;
            }
        },
        data() {
            return {
                member: this.propsMember || {},
                dataIsDeliver: this.isDeliver || false,
                dataIsReadonly: this.isReadonly || false,
                name: this.propsName || '',
                selectedData: '',
                searchMembers: null,
            }
        },
        computed: {
            selectId: function () {
                return (this.dataIsDeliver ? 'receiver' : 'deliver') + '-id-input';
            },
            selectName: function () {
                return 'member_' + (this.dataIsDeliver ? 'receiver' : 'deliver') ;
            },
            labelName: function () {
                return this.label || this.name;
            }
        },
        props: ['is-deliver','props-member','is-readonly','props-name','label'],
        methods: {
            fetchData() {
                let self = this;
                $(document).ready(function() {
                    $('#'+self.selectId).select2({
                        placeholder: 'Select an Member',

                        ajax: {
                            // url: '/ajax-member',
                            url: '/member/ajaxSearch',
                            dataType: 'json',
                            delay: 250,
                            processResults:  (data) => {
                                self.searchMembers = data;
                                return {
                                    results:  $.map(data,  (item) => {
                                        return {
                                            text: item.name,
                                            id: item.id
                                        }
                                    })
                                };
                            },
                            cache: false
                        }
                    });
                    $('#'+self.selectId).on("select2:select", function (e) {
                        console.log('search');
                        console.log(e);
                        console.log(e.target.value);
                        let id = e.target.value;
                        self.searchMembers.forEach(val => {
                            if (id == val.id) {
                                self.member = val;
                                self.selectedData = val.name;
                            }
                        })
                        console.log('selected invnet');
                        self.$emit('selected-member',self.member);
                    });
                });
            },
            triggerValidate(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        console.log('member has data');
                        return;
                    }
                    console.log('done');

                })
            },
            updateValue(e) {
                this.$emit("input", e.target.value);
            },
            resetMember(){
                this.member = {};
                this.selectedData = '';
                $('#'+this.selectId).val(null).trigger("change")
                console.log('reset done')

            },
        },
        mounted() {
            if (!this.dataIsReadonly) this.fetchData();
        },

    }
</script>

<style scoped>

</style>
